<!DOCTYPE html>
<html>
<head>
	<title>Packetalk</title>
</head>
<body>
	<h1>Reboot Edit Cam</h1>
	<form method="POST" id="home" action="{% url 'home' %}">
			{% csrf_token %}
			<button type="submit" id="Home Button">Home</button>
		</form>
	<form method="POST" action="{% url 'edit' %}" style="display: inline;">
		{% csrf_token %}
		{{ editCamInfo.as_p }}
		<input type="hidden" name="action" value="reboot"></input>
		<input type="hidden" name="endPoint" value="{{ endPoint }}"></input>
		<button type="submit">Update</button>
	</form>
</body>
</html>